.bodyForPageStatistics {
    display: flex;
    flex-direction: column;
    // /position: relative;
    //margin-bottom: -50px;
    height: 100vh;
    //height: 100%;
    //border: 7px solid red;
}

.h1 {
    font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        margin: 50px 0px 16px 0px;
        position: relative;
}
.personalData,
.personalData:focus {
    cursor: pointer;
}
.setCountUsers {
    position: absolute;
    input {
        border: 2px solid #3A80BA;
        background: #FBFBFB;
        height: 22px;
        border-radius: 8px;
        top: 0;
        left: 1053px;
        width: 50px;
        text-align: center;
    }
    button {
        border: 2px solid #3A80BA;
        height: 26px;
        border-radius: 8px;
        top: 0;
        left: 1117px;
        position: absolute;
    }
    div {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        left: 811px;
        position: absolute;
        width: 301px;
    }
}
.blockTable {
    width: 85%;
    margin: auto;
    //flex-grow: 1;

    &__headTable {
        background: #3A80BA;
        color: white;
        height: 40px;
        font-size: 16px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
              
    }
    &__headTable > th {
        border: 1px solid white;
        &:first-child{
            border-radius: 10px 0px 0px 0px;
        }
        &:last-child{
            border-radius: 0px 10px 0px 0px;
        }
    }
    &__trActive {
        background: #F1F1F1;
    }
    &__trInactive {
        background: #FBFBFB;
    }
    
}
table {
    width: 100%;
}
table {
    border-spacing: 0;
}
table > tbody > tr > td { 
    padding: 0 0 0 20px;
    border-bottom: 0;
    border-right: 1px solid white;  
}
table > tbody > tr {
    color: #1A1A1A;
}