.pagination {
    text-align: center;
    margin-top: 24px;
}

.linkButton {
    background-color: #E5E5E5;  
    border: 2px solid #F1F1F1;
    margin: 0px 0px 0px 8px;
    width: 0px;
    height: 0px;
    padding: 9px 12px 9px 12px;
    border-radius: 4px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: white;
    text-decoration: none;
}
.selectedPage {
    background-color: #3A80BA;
    color: white;
    
}

.linkButton a {
    color:#1A1A1A;
    text-decoration: none;
    font-size: 16px;
}
.selectedPage a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.buttonNext {
    background-color: #3A80BA;
    border: 2px solid #3A80BA;
    color: white;
    margin-left: 10px;
    height: 38px;
    border-radius: 4px;

}
.buttonPrev {
    background-color: #3A80BA;
    border: 2px solid #3A80BA;
    color: white;
    height: 38px;
    border-radius: 4px;
}

